include LICENCE
include CITATION.cff
include src/lick/py.typed
include src/lick/_vendor/vectorplot/core.pyx
include src/lick/_vendor/vectorplot/LICENSE.txt
exclude src/lick/_vendor/vectorplot/*.c

recursive-exclude tests *
exclude .pre-commit-config.yaml
exclude requirements/*
exclude imgs/*
